

header {
	border-style:solid;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
	position: static;
}

.imagem{
	width: 75px;
	position: static;
}

.nav{ 
}

.nav-item{
	display: inline;
	position: relative;
}